<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Change Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/icon/1088704.png}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .slideDown{
        animation: slideDown 0.9s forwards;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-500px);
        }
        to {
            transform: translateY(0px);
        }
    }
</style>
<body class="bg-secondary">
<div class="container">
    <div class="row">
        <div class="col-4 offset-4 mt-5 slideDown">
            <form th:action="@{/do-reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <div class="card">
                    <div class="card-header">
                        <h3>Reset Your Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="New Password" reqruired autofoucus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="retrypassword" id="" class="form-control"
                                   placeholder="Retry-Password" reqruired autofocus onchange="checkPasswordMath(this)">
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-outline-dark w-100" value="Change Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function checkPasswordMath(fieldConfirmPassword){
        if(fieldConfirmPassword.value != $("#newpassword").val()){
            fieldConfirmPassword.setCustomValidity("Password do not match!")
        }else{
            fieldConfirmPassword.setCustomValidity("")
        }
    }
</script>
</html>