<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymelead.org"
>
<head>
    <title>Forgot Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/icon/1088704.png}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .slideDown{
        animation: slideDown 0.9s forwards;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-500px);
        }
        to {
            transform: translateY(0px);
        }
    }
</style>
<body class="bg-secondary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5 slideDown">
            <form th:action="@{/forgot-password}" th:method="post">
                <div class="card">
                    <div class="card-header bg-light">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Type your e-mail here..."
                                   aria-describedby="helpId">
                            <span th:if="${error == null && message == null}" class="text-muted">We will be sending a reset password to your email  </span>
                            <span th:if="${error != null}" class="text-danger">[[${error}]]</span>
                            <span th:if="${message !=null}" class="text-info">[[${message}]]</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-outline-dark w-100" value="Get Password">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>